<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">What's the Weather?</h1>
    <div class="row center">
      <h5 class="header col s12 light">Check weather update for any city</h5>
    </div>
    <div class="row center">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6 offset-s3">
            <input id="city_name" type="text" />
            <label for="city_name">City Name</label>
            <p id="error"></p>
          </div>
          <div class="col s3">
            <p><a class="waves-effect waves-light btn" id="submit-btn"><i class="material-icons left">cloud</i>weather info</a></p>
          </div>
        </div>
      </form>
    </div>
    <br><br>
  </div>
</div>

<div class="container">
  <div id="weather-results">
    <div class="row">
        <div class="col s8 m8 l8 offset-l3">
          <div class="card teal darken-1"></div>
        </div>
      </div>
  </div>
</div>
